<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQHWtQ13KPAC6KLjKx8gmL7zy7yZ-3G7w</string>
	<key>GCM_SENDER_ID</key>
	<string>123094108738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rapidsport.test</string>
	<key>PROJECT_ID</key>
	<string>rapid-sportt</string>
	<key>STORAGE_BUCKET</key>
	<string>rapid-sportt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123094108738:ios:e4e76d427cad5e70067bdb</string>
</dict>
</plist>